@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*:focus {
  outline: none;
}

.link {
  text-decoration: underline;
}

.text-custom-pink {
  color: #ea4c89;
}

.bg-custom-pink {
  background-color: #ea4c89;
}

@media only screen and (min-width: 1024px){
   .dropDownShadow {
      box-shadow: 0px -1px 40px 0px rgba(195, 209, 224, 0.788) ;
   }
}

